
@{
    ViewBag.Title = "Index";
    Layout = null;
}
@*<script src="~/scripts/jquery-1.10.2.min.js"></script>
<h2 class="test1">Index1</h2>
<h2 class="test1">Index2</h2>
<h2>Index3</h2>
<h2>Index4</h2>
<p class="test">Hello World1</p>
<p class="test">Hello World</p>
<button>click me</button>
<script>

    
        $("p:first").hide();
     

</script>
<p>Hello World2</p>*@
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
<script src="~/scripts/demoexample.js"></script>

    <div class="ui-widget">
        <label for="tags">Tags: </label>
        <input id="tags">
    </div>


 










//tag name-$("p").hide();
//# - id-$("#test").hide();
//.-class-(".test").hide();
//*- all the html tag is select -$("*").hide()
// $("h2").mouseenter(function () {
  //      $(this).hide();
 //   });
//  $("p.test").hide(); selecting paragraph which test class
/// 


